ul li{ /*don't know if this is specific enough to the nav links e.g needs to only affect them*/
  list-style-type: none;
}


.nav{ /*styling for the navigation bar. Makes it a row and spaces it evenly*/
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

