
#container{
  background-color: lightblue;
}

.navbar{
 .name{
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
 }

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
 } 

 li a{
  float: right;
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
   }

 li a:hover{
  background-color: grey;
 }

}

.textbox{
border-style: solid;
margin-top:10px;
background-color: white;
}

.intro{
  float:left;
  width: 50%;
  height: 100%;
  margin-top: 10px; 
}

.image{
  float: right;
  width: 50%;
  height:auto;
  padding-left: 20px;
}

